html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #009999;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 2px 2px 5px black;
}

p,
li {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
  width: 300px;
}